# https://github.com/cotes2020/jekyll-theme-chirpy/issues/802
# https://github.com/cotes2020/jekyll-theme-chirpy/issues/789
Gemfile.lock

ReadNik.md 

draft

# hidden files
.*
!.git*
!.editorconfig
!.nojekyll
!.husky
!.commitlintrc.json
!.versionrc.json
!.stylelintrc.json

# bundler cache
_site
vendor

# rubygem
*.gem

# npm dependencies
node_modules
package-lock.json
