
<div id="access-lastmod" class="post">
    
    <div style="margin-top: 10px;">

        <a href="https://mvp.microsoft.com/en-us/PublicProfile/4039889?fullName=Mohamed%20Radwan" target="_blank">
            <img src="/assets/img/mvp-banner.png" alt="MVP" class="uniform-size">
        </a>

        <br> <br>

        <a href="https://www.credly.com/users/mohamed-radwan.mvp/badges" target="_blank">
            <img src="/assets/img/certifications-badges.png" alt="MVP" class="uniform-size">
        </a>
    
    </div>
    
</div>